@import "bootstrap/dist/css/bootstrap.min.css";

html, body {
  font-size: 12pt;
  font-family: 'Times New Roman', Times, serif;
  color: black;
}

main {
  background-color: white;
  margin: 0;
}

.page {
  width: 209mm;
  height: 281mm;
}

.form-check-input:checked {
  background-color: #141619;
  border-color: #141619;
}

.input-default {
  border: none;
  border-bottom: 1px solid black;
  background-color: white;
}
.stretch {
  flex-basis: auto;
}

.text-red {
  color: red;
}

.w-40 {
  flex-basis: 40%;
}

.w-30 {
  flex-basis: 30%;
}

.font-16 {
  font-size: 16pt;
}
.font-14 {
  font-size: 14pt;
}
.font-12 {
  font-size: 12pt;
}
.font-11 {
  font-size: 11pt;
}
.font-10 {
  font-size: 10pt;
}
.font-9 {
  font-size: 9pt;
}
.font-8 {
  font-size: 8pt;
}


wrapper > * {
  font-family: "Times New Roman", Times, serif;
  font-size: 1em;
}
wrapper #hide {
  position: absolute;
  opacity: 0;
  z-index: -100;
  white-space: pre;
}

wrapper input {
  min-width: 30px;
  padding: 0;
  border: none;
  border-bottom: 0.5px solid black;
  background-color: rgba(0, 0, 0, 0.1);
}

.services {
  display: flex;
  align-items: start;
  flex-wrap: wrap
}
.service {
  flex-basis: 50%;
  display: flex;
}
.service > label {
  flex-basis: 50%;
}

.sheet {
  page-break-before: always;
}

.lh-1 {
  line-height: 12.5px;
}
.lh-2 {
  line-height: 13px;
}
.lh-3 {
  line-height: 14.5px;
}
.lh-4 {
  line-height: 15px;
}


/*.table td.fit, 
.table th.fit {
    white-space: nowrap;
    width: 1%;
}*/

.table-fit {
  white-space: nowrap;
  width: 1%;
}

table {
  margin: 0 auto; /* same as margin: 0 25%;  */
}

tr td {
  padding: 3px !important;
  margin: 0 !important;
}

.text-justify {
  text-align: justify;
}

input[type="text"]{
  background-color: white;
}

input[type="date"]{
  border-top: none;
  border-right: none;
  border-left: none;
}

.min-w
{
  min-width: 100%;
}

.bg-nav
{
  background-color: #062740;
}

.bg-nav2
{
  background-color: #104268;
}

.bg-badge{
  background-color: #CE0018;
}



textarea {
  resize: none;
  overflow: hidden;
}

.div-e { 
    text-align:justify; 
} 

.span-e { 
  width:100%; 
  display:inline-block; 
}

.tb {
  break-after: page;
}

.bf-radius {
  border: 1px solid black;
  padding: 0.5px 3px 0.5px 3px;
  border-radius: 75px;
}


.tr-h {
  line-height: 14px;
  min-height: 14px;
  height: 14px;
}

.y{
  background-color: yellow;
}